.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust as needed */
}

.header {
    /* background-color: #333; */
    color: #fff;
    /* padding: 10px; */
}

.main-container {
    display: flex;
    flex: 1;
}

.side-bar {
    background-color: rgb(1, 38, 69, 0.921);
    width: 300px; 
    min-width: 200px;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto;
}
.content-inner{
    width: 100%;
}
